.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
    justify-content: space-evenly;
}

.inputOption:hover {
    color: lightskyblue;
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}
.inputOption > h4 {
    margin-left: 5px;
}